$dark: #242424;
$dark-gradient: #24242436;
$primary: #014EFD;
$secondary: #1F48A7;
$tertiary: #EDA329;
$light: #D3D8D5;
$light-secondary: #9EA6A5;
$bg-primary: #020207;
$bg-accent: rgba(28, 161, 126, 0.88);

$f-light: 300;
$f-regular: 400;
$f-semi-bold: 600;
$f-bold: 700;
$f-extra-bold: 800;
